**/Makefile*
!Makefile.version
z-Build/

!VmConfig/CVmClusteredDevice.cpp
!VmConfig/CVmClusteredDevice.h
!VmConfig/CVmDevice.cpp
!VmConfig/CVmDevice.h
!VmConfig/CVmMassStorageDevice.cpp
!VmConfig/CVmMassStorageDevice.h
!VmConfig/CVmPort.cpp
!VmConfig/CVmPort.h
!VmConfig/CVmStartupOptions.cpp
!VmConfig/CVmStartupOptions.h
!VmConfig/CVmStorageDevice.cpp
!VmConfig/CVmStorageDevice.h
!VmConfig/VmConfigBase.pri

!VmDirectory/CVmDispatcherDump.cpp
!VmDirectory/CVmDispatcherDump.h
!VmDirectory/VmDirectory.pri

!HostHardwareInfo/CHostHardwareInfo.cpp
!HostHardwareInfo/CHostHardwareInfo.h
!HostHardwareInfo/CHwGenericDevice.cpp
!HostHardwareInfo/CHwGenericDevice.h
!HostHardwareInfo/CSystemStatistics.cpp
!HostHardwareInfo/CSystemStatistics.h
!HostHardwareInfo/HostHardwareInfoBase.pri

Appliance
AppLists
BackupTree
ClientPreferences
CpuFeatures
CtTemplate
DiskDescriptor
DiskImageInfo
DispConfig
GuestOsInformation
HostHardwareInfo
InterfaceInfo
IscsiStorage
KeyboardMouse
Licenses
Messaging
NetworkConfig
ProblemReport
Reports
Updater
UserInformation
VmConfig
VmDataStatistic
VmDirectory
VmInfo
XKeyMaps
